#page {
    background-color: #e3c5a9;
}

.navbar {
    border-bottom: black solid 3px;
}

.coffee {
    color: white;
    padding: 5px;
    margin: 10px 0;
    border: black solid 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.coffees-container {
    border: #281111 solid 3px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.roast-light {
    background-color: #b59787;
}

.roast-medium {
    background-color: saddlebrown;
}

.roast-dark {
    background-color: #281111;
}

.remove-btn {
    display: none;
    width: 30px;
    height: 30px;
    font-size: xx-small;
}

#coffees .remove-btn:hover {
    display: inline-block;
}